* {
    margin: -2px;
    padding: 0px;
    box-sizing: border-box !important;
}

body {
    background: #fff0f0;
    text-align: center;
    margin: 10px;
    font-size: 17px;
    color: pink;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

a:link {
    color: gray;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

a:visited {
    color: gray;
}

button {
    text-transform: uppercase;
    background: pink;
    color: white;
    padding: 2px;
    border: none;
    height: 50px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    margin: 8% auto;
    width: 90%;
    text-align: center;
}

#input {
    height: 20px;
    border: none;
    outline: none;
    height: 50px;
    width: 250px;
    opacity: 50%;
    color: #222;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 20px;
}

