<%- include("partial/header.ejs") %>

    <div>
        <h1>
           Wanna update?
        </h1>
        <p>Go ahead.</p>
    </div>

<form action="/update/:id" method="Post" id="updateText">

    <input type="text" name="text" id="" value="<%= response.text%>" required>

    <input type="text" name="_id" value="<%= response._id %>" hidden>
    <button type="submit" class="buttonfx bouncein update">Update</button>

</form>
