body {
  background: #FFCFBD;
  text-align: center;
  margin-top: 50px;
  font-size: 17px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter; }

a:link {
  color: gray;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold; }

a:visited {
  color: gray; }

button {
  text-transform: uppercase;
  background: lightgray;
  color: white; }
